<form method="post" action="index.php">
    <h1>Login</h1>
    <label for="login">Login</label>
    <input type="text" name="login" id="login" autofocus required /><br/>
    <label for="pass">Password</label>
    <input type="password" name="pass" id="pass" required minlength="4"/><br/>
    <input type="submit" value="Log in"/>
</form>
<form method="get" action="index.php">
    <h1>Register</h1>
    <label for="register-login">Login (small letters)</label>
    <input type="text" name="u" id="register-login" placeholder="e.g. sowad" autofocus required /><br/>
    <label for="register-pass">Password</label>
    <input type="password" name="p" id="register-pass" required minlength="4" onkeyup="entropy()"/><br/>
    Bits of entropy: <span id="entropy"></span><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>