Cześć!<br/>
Jesteś zalogowany !
<form action="?note=add" method="post">
<textarea name="note">
    Twoja notatka...
</textarea>
    <input type="submit" value="wyślij"/>
</form>
<a href="?logout">Wyloguj</a>
</body>
</html>